.slogan {
    display: block;
    margin: 18%;
    border: 1px solid black;
}

p {
    font-size: 1.5rem;
}

.resolution {
    height: 100vh;
    background-color: #dadce3;
    position: relative;
}


.resolution img {
    width: 50%;
    height: 380px;
    border-radius: 5px;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}

.resolution p {
    position: absolute;
    margin-top: 30px;
    margin-left: 600px;
    /* width: 40%; */
}

.resolution button {
    position: absolute;
    margin-top: 450px;
    margin-left: 600px;
    padding: 8px;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    transition: transform 0.2s ease-in-out;
}

.resolution button:hover {
    background-color: aliceblue;
    transform: translateY(-4px);
}

.product {
    height: 100vh;
}

.dry img,
.wet img,
.Hazardous img {
    background-color: lightgray;
    text-align: center;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
